h5.heading {
  font-size: clamp(18px, 3vw, 2.4rem);
  font-size: 1.8rem;
}

h4.heading {
  font-size: 2.2rem;
}

h6.heading {
  font-size: 1.5rem;
}

.p__text {
  font-size: 1.6rem;
  color: $color-gray;
}

// Typography utils

.bold {
  font-weight: bold;
}

.center {
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}

.color-dark {
  fill: $color-gray;
  color: $color-gray;
}

@mixin pos-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin img-size {
  height: 100%;
  width: 100%;
}

@mixin icon-vector {
  height: 2rem;
  width: 2rem;
}

@mixin overlay-content {
  background-color: $color-black;
  max-width: 55rem;
  z-index: 501;
  border-radius: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  @media only screen and (max-width: $tab-port) {
    width: 80%;
  }
}

@mixin button-outline {
  height: 115%;
  width: 115%;
  content: "";
  display: block;
  background-color: transparent;
  border-radius: 50%;
  position: absolute;
  @include pos-center;
}
