// ==============================
// Colors
// ==============================
$color-primary: #ff9500;
$color-secondary: #ffcc00;
$color-black: #181818;
$color-bg-dark: #131313;
$color-alarm: #171717;
$color-bg-light-dark: #3d3d3d;
$color-white: #fff;
$color-green: #4cd964;
$color-red: #ff3b30;
$color-red-dark: #3d1513;
$color-text: #fff;
$color-gray: #8c8c8c;
$icon-color: #8c8c8c;
// =============================================
// Fonts
// =============================================
$font-primary: "SF UI Text", sans-serif;
$font-secondary: "Josefin Sans", sans-serif;
$font-sfUiDisplay-thin: "SF UI Display", sans-serif;
$font-sfUiDisplay-light: "SF UI Display", sans-serif;
$font-sfUiDisplay: "SF UI Display", sans-serif;

// ============================================
// Breakpoints
// ============================================

$laptop-land: 75em; //1200px / 16px = 75em
$laptop-port: 64em; //1024px / 16px = 64em
$tab-land: 62em; //992px / 16px = 62em
$tab-port: 48em; //768px / 16px = 48em
$mbl-land: 35.9375em; //575px / 16px = 35.9375em
$mbl-port: 30em; //480px / 16px = 30em
$mbl-small: 23.75em; //380px / 16px = 23.75em
