@mixin item-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.badtimes-option {
  .option {
    position: fixed;
    top: 5.6rem;
    left: 0;
    @include overlay-content;

    @media only screen and (max-width: $mbl-small) {
      width: 100%;
    }

    h6 {
      padding-left: 2rem;

      @media only screen and (max-width: $mbl-small) {
        padding-left: 1rem;
      }
    }

    &__item {
      @include item-flex;
      padding: 1.5rem 2rem;
      gap: 0 2rem;
      background-color: $color-bg-dark;

      @media only screen and (max-width: $mbl-small) {
        padding: 1.5rem 1rem;
      }

      .icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-gray;
      }

      // range volume-slider

      .slidecontainer {
        width: 100%;
        position: relative;
      }

      .volume-slider {
        -webkit-appearance: none;
        width: 100%;
        height: 0.5rem;
        border-radius: 2rem;
        outline: none;
        transition: all 0.3s;
      }

      .volume-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 2.8rem;
        height: 2.8rem;
        border-radius: 50%;
        background: $color-white;
        position: relative;
        cursor: pointer;
        z-index: 5;
      }

      .volume-progressbar {
        width: 0;
        height: 0.5rem;
        background-color: $color-primary;
        position: absolute;
        top: 50%;
        left: 0;
        border-radius: 2rem;
        z-index: 1;
      }
    }

    &__nav {
      @include item-flex;
      background-color: $color-bg-dark;
      h5 {
        font-weight: 600;
      }
      .btn-text {
        color: $color-gray;
      }
    }

    &__days {
      &--day {
        background-color: $color-bg-dark;
        @include item-flex;
        padding: 1rem 2rem;
        gap: 1rem;

        .btn {
          background-color: $color-gray;
          height: 3rem;
          width: 3rem;
          border-radius: 50%;
          color: $color-bg-dark;
          font-family: $font-sfUiDisplay;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .active {
          background-color: $color-primary;
          color: $color-black;
        }
      }
    }
  }
}
