.overlay-active {
  .nav__link span,
  .edit-btn,
  .badtime__time .badtime__waketime h4 {
    color: $color-gray;
  }

  .nav__link svg,
  .plus-btn .icon-plus,
  .badtime__time .badtime__waketime .icon {
    fill: $color-gray;
  }

  // .edit-btn {
  //   color: $color-gray;
  // }

  // .plus-btn .icon-plus {
  //   fill: $color-gray;
  // }

  // .badtime__time .badtime__waketime .icon {
  //   fill: $color-gray;
  // }
  .badtime__time .badtime__waketime .checkbox {
    display: none;
  }
  // .badtime__time .badtime__waketime h4 {
  //   color: $color-gray;
  // }

  .badtime__watch img {
    filter: grayscale(100%);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.473));
  z-index: 501;
}
